body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 4rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  margin: 0 0.5rem !important;
}

.explore {
  margin-left: -1rem;
}

.f-info-links a {
  text-decoration: none !important;
  color: #222222 !important;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222222 !important;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.listing-card {
  border: none !important;
  text-decoration: none;
}

.listing-index-img {
  height: 15rem !important;
}

.login-signup-form-inp {
  width: auto;
}
.new-edit-form-inp {
  width: 50%;
}
.show-img {
  height: 50vh;
}
@media (max-width: 2000px) {
  .listing-index-img {
    height: 21rem !important;
  }
  .show-img {
    height: 33rem;
  }
  .login-signup-form-inp {
    width: 25%;
  }
}
@media (max-width: 1700px) {
  .listing-index-img {
    height: 19rem !important;
  }
  .show-img {
    height: 30rem;
  }
  .login-signup-form-inp {
    width: 28%;
  }
}
@media (max-width: 1500px) {
  .listing-index-img {
    height: 17rem !important;
  }
  .show-img {
    height: 27rem;
  }
  .login-signup-form-inp {
    width: 32%;
  }
}
@media (max-width: 1300px) {
  .listing-index-img {
    height: 15rem !important;
  }
  .show-img {
    height: 22rem;
  }
  .review-comment {
    font-size: 0.9rem;
  }
  .login-signup-form-inp {
    width: 37%;
  }
  .map-click h4 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  .row-cols-adjust > * {
    flex: 0 0 auto;
    width: calc(100% / 3);
  }
  .listing-index-img {
    height: 17rem !important;
  }
  .show-img {
    height: 18rem;
  }
  .login-signup-form-inp {
    width: 44%;
  }
  .new-edit-form-inp {
    width: 60%;
  }
  .map-click h4 {
    font-size: 1.1rem;
  }
}

@media (max-width: 991px) {
  .show-img {
    height: 21rem;
  }
}

@media (max-width: 768px) {
  .row-cols-adjust > * {
    flex: 0 0 auto;
    width: calc(100% / 2);
  }
  .login-signup-form-inp {
    width: 53%;
  }
  .new-edit-form-inp {
    width: auto;
  }
  .map-click h4 {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .row-cols-adjust > * {
    flex: 0 0 auto;
    width: calc(100% / 1);
  }
  .show-img {
    height: 16rem;
  }
  .login-signup-form-inp {
    width: 69%;
  }
  .new-edit-form-inp {
    width: auto;
  }
  .map-click h4 {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .show-img {
    height: 12rem;
  }
  .login-signup-form-inp {
    width: auto;
  }
  .new-edit-form-inp {
    width: auto;
  }
}

.listing-title {
  padding-left: 0.5rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.listing-card-body {
  padding: 0 !important;
}

.listing-card-text {
  font-weight: 400 !important;
  text-decoration: none !important;
  padding: 0 0.5rem;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.show-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#map {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alert {
  margin-top: 0.5rem !important;
  font-size: 1rem;
  padding: 0.7rem !important;
  margin-bottom: -0.4rem;
}

.btn-close {
  padding: 1rem !important;
}

#filter-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

#filters-container {
  overflow: hidden;
  flex: 1;
  position: relative;
}

#filters {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.filter {
  flex: 0 0 auto;
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.filter a {
  color: inherit;
  text-decoration: none;
}

.scroll-btn {
  background-color: #fff;
  border: 0.1rem solid #cccccc;
  border-radius: 50%;
  color: #a6a6a6;
  cursor: pointer;
  z-index: 10;
}

.scroll-btn.left-btn {
  margin-right: 1rem;
}

.scroll-btn.right-btn {
  margin-left: 1rem;
}

.tax-toggle {
  border: 0.1rem solid #a6a6a6;
  border-radius: 1rem;
  height: 3rem;
  padding: 1rem;
  margin-left: 1rem;
  display: flex;
  margin-top: 0.9rem;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .tax-toggle {
    flex-basis: 100%;
    text-align: left;
    margin-top: 0 !important;
    margin-left: 0 !important;
    font-size: 0.8rem !important;
    width: auto !important;
    height: 2rem !important;
    border: none;
    justify-content: center;
  }

  .toggle-container {
    padding: 0.5rem 1rem;
    border: 0.1rem solid #a6a6a6;
    border-radius: 0.7rem;
  }

  .scroll-btn {
    visibility: hidden;
    margin: 0 -1.75rem;
  }
}

.tax-info {
  display: none;
}

.search-btn {
  background-color: #fe424d;
  color: #fff;
  border-radius: 2rem;
  padding: 0 1rem 0 1rem;
}

.search-btn:hover {
  background-color: #fe424d;
  color: #fff;
}
.search-btn:active {
  background-color: #fe424d !important;
  color: #fff !important;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-inp {
  margin-left: 1.25rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  width: 14.5rem;
}

.offers {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}

.offers i {
  font-size: 1.1rem;
}

.offers span {
  font-size: 1.1rem;
}

#responsive-registration {
  display: none;
}

.dropdown {
  margin-left: auto !important;
}

.dropdown p {
  display: inline;
}

.dropdown button {
  width: auto !important;
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  margin-top: 0.5rem !important;
  width: 14rem;
  padding: 0.7rem;
  transform: translateX(-65%);
}

#web-title {
  color: #fe424d !important;
  font-size: 1.7rem;
  margin-left: -0.5rem !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  font-family: "Kaushan Script", cursive;
}

.navbar-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-circle-user {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .dropdown {
    display: none;
  }

  #web-title {
    color: #fe424d !important;
    font-size: 1.6rem !important;
  }

  .alert {
    margin-top: 0.5rem !important;
    font-size: 0.9rem;
    padding: 0.6rem !important;
  }

  .btn-close {
    padding: 0.9rem !important;
  }

  #responsive-registration {
    display: inline;
    margin: 1rem;
  }

  .navbar-collapse {
    text-align: center;
  }

  .nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
  }

  .navbar-nav {
    text-align: center;
    margin: 0 auto;
  }

  .container-fluid {
    background-color: white;
  }
}

#filters-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
}

#filters {
  display: flex;
  width: max-content;
}

.filter {
  scroll-snap-align: start;
  flex: 0 0 auto;
}

#filters-container::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 95%;
}

.map-click {
  text-align: center;
  margin-bottom: -1rem;
}
