<% layout("/layouts/boilerplate") %>

    <body>
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="login-signup-form-inp">
                    <h3 class="mb-3">Login on WanderLust</h3>
                    <form action="/login" method="post" novalidate class="needs-validation">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username"
                                placeholder="Enter Username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Enter Password" required>
                        </div>
                        <button class="btn btn-success">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>